<%# if session[:thankyou9527] %>
<%# 有的話就是登入狀態 %>
<% if user_signed_in? %>
  <%= current_user.email %> |
  <%= link_to '登出', sign_out_sessions_path, method: 'delete' %>
<% else %>
  <%= link_to '註冊', sign_up_users_path %> |
  <%= link_to '登入', sign_in_sessions_path %>
<% end %>




<h1>小酒館列表</h1>





<ul>
<% @bars.each do |bar| %>
                  <%#為什麼要用bar?%>
  <li>
    <%= link_to bar.name, bar_path(bar) %>
    <%= bar.tel %>
    <%= bar.address %>
    <%= link_to '編輯', edit_bar_path(bar) %>
    <%= link_to '刪除',
                bar_path(bar),
                method: 'delete',
                data: { confirm: '確定嗎' } %>
  </li>
  
<% end %>
</ul>

<%= link_to '新增小酒館', new_bar_path %>
