<i class="fas fa-user-astronaut"></i>
<i class="fas fa-heart"></i>
<i class="fas fa-rocket"></i>



<%# if session[:thankyou9527] %>
<%# 有的話就是登入狀態 %>
<% if user_signed_in? %>
  <%= current_user.email %> |
  <%= link_to '登出', sign_out_sessions_path, method: 'delete' %>
<% else %>
  <%= link_to '註冊', sign_up_users_path %> |
  <%= link_to '登入', sign_in_sessions_path %>
<% end %>




<h1 class="">小酒館列表</h1>
<%= link_to '新增小酒館', new_bar_path %>
<table class="table">
  <thead>
    <tr class="bg-warning">
      <td>名稱</td>
      <td>店主</td>
      <td>按讚數</td>
      <td>電話</td>
      <td>地址</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @bars.each do |b| %>
      <td><%= link_to b.name, bar_path(b) %></td>
      <td><%= b.user.email%></td>
      <td>
        <i class="fas fa-heart"></i>
        <%= b.likers.count%>
      </td>
      <td><%= b.tel %></td>
      <td><%= b.address %></td>
      <td>
        <%= link_to '編輯', edit_bar_path(b) %>
        <%= link_to '刪除', bar_path(b), method: 'delete', data: { confirm: '確定嗎' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



