<h1><%= @bar.name %></h1>
<i class="fas fa-rocket"></i>
<div id='like-btn' data-id='<%= @bar.id %>' class="like-btn"></div>


<h3>留言</h3>


POST /comments
<%= form_for(@comment, url: bar_comments_path(@bar), remote: true) do |form| %>
  <div class="fields">
    <%= form.label :content, '留言內容' %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit %>
<% end %>

<%# 秀出餐廳的留言%>
<ul id="comment_area">
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
