
  <h1 data-controller="hello"><%= @bar.name %>
  <i class="fas fa-rocket"></i>
  <div id='like-btn' data-action='click->hello#add hey->hello#close'
                                                  <%# 客製化事件 %>
                    data-hello-target='btn'
                    data-id='<%= @bar.id %>' 
                    class="like-btn"></div>

  <i class="fas fa-thumbs-up"></i>
  </h1>
<h3>留言</h3>


POST /comments
<%= form_for(@comment, url: bar_comments_path(@bar), remote: true) do |form| %>
  <div class="fields">
    <%= form.label :content, '留言內容' %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit %>
<% end %>

<%# 秀出餐廳的留言%>
<ul id="comment_area">
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
